body {
	color: #aaaaaa;
	font-family: "Arial", Arial, Sans-serif;
	font-size: xx-small;
	background-color: #993399;
}

.scroller {
	display: block;
	float: right;
	background-color: #660066;
	border:1px solid;
	border-radius:10px;
	-moz-border-radius:25px;
	border-color: #aaaaaa;
	height: 100%;
}

#indexer {
	width: 40px;
	height: 100%;
}

.indexer tr {
	margin-top: 10px;
	margin-bottom: 10px;	
}

.indexer td {
	text-align: center;
	list-style-image: none;
	list-style-type: none;
}

.dark_link {
	color: #aaaaaa;
	text-decoration: none;
	cursor: auto;
}

.indexer:hover {
	font-size: 1.5em;
}

#container {
    position: absolute;
    left: 0;
    top: 44px;
    bottom: 24px;
    width: 300px;
    overflow: hidden;
/*    overflow: scroll;
    -webkit-overflow-scrolling: touch;*/
}

.container li {
	list-style-image: none;
	list-style-type: none;
	margin: 10px;
}

.login {
	display: block;
	clear: both;
	width: 350px;
}

.users {
	display: block;
	float: left;
	width: 80%;
}

.user {
	border:1px solid;
	border-radius:10px;
	-moz-border-radius:25px;
	border-color: #aaaaaa;
	padding: 5px;
	width: 250px;
}

.user:hover {
	font-size: 2em;
	width: 275px;
	height: 75px;
}

.user:hover .password {
	visibility: visible;
}

.user:last-child {
    border-bottom: 1px solid #ccc;
}

.user_name {
	display: block;
	clear: both;
}

.password {
	display: block;
	clear: both;
	visibility: hidden;
}

.password_input {
	display: block;
	float: left;
	font-size: 1.4em;
}

.password img {
	display: block;
	float: right;
	height: 30px;
	margin-top: 5px;
}